In [1]:
import pandas as pd

In [3]:
ratings = pd.read_csv('D:/추천알고리즘강의/data/ml-latest-small/ratings.csv')
ratings.sample()

       userId  movieId  rating  timestamp
72884     469     3529     3.0  965336773

### timestamp 칼럼 처리

In [4]:
from datetime import datetime

In [7]:
datetime.fromtimestamp(965336773)

datetime.datetime(2000, 8, 4, 6, 6, 13)

In [8]:
ratings['timestamp']=ratings['timestamp'].apply(lambda x: datetime.fromtimestamp(x))

In [10]:
ratings.sample()

       userId  movieId  rating           timestamp
16342     105     3629     4.5 2015-11-04 16:24:43