In [1]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings('ignore')

## Read Data

In [2]:
movies = pd.read_csv('D:/추천알고리즘강의/data\ml-latest-small/movies.csv')
ratings = pd.read_csv('D:/추천알고리즘강의/data/ml-latest-small/ratings.csv')
genres = pd.read_csv('D:/추천알고리즘강의/data/ml-latest-small/genres.csv')

In [3]:
ratings.tail()

        userId  movieId  rating   timestamp
100831     610   166534     4.0  1493848402
100832     610   168248     5.0  1493850091
100833     610   168250     5.0  1494273047
100834     610   168252     5.0  1493846352
100835     610   170875     3.0  1493846415

In [4]:
genres.sample()

,(no genres listed),Action,Adventure,Animation,Children,Comedy,Crime,Documentary,Drama,Fantasy,Film-Noir,Horror,IMAX,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western
4161,0,0,0,0,0,1,1,0,1,0,0,0,0,1,0,0,0,0,0,0

## Preprocessing

In [5]:
ratings = ratings.merge(genres, left_on='movieId', right_index=True)
ratings.sample()

,userId,movieId,rating,timestamp,(no genres listed),Action,Adventure,Animation,Children,Comedy,...,Film-Noir,Horror,IMAX,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western
74436,474,5391,3.0,1046870712,0,1,0,0,0,1,...,0,0,0,0,0,0,0,1,0,0

In [6]:
ratings = ratings.replace(0, np.nan)
ratings.sample()

,userId,movieId,rating,timestamp,(no genres listed),Action,Adventure,Animation,Children,Comedy,...,Film-Noir,Horror,IMAX,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western
47729,308,355,3.0,1421374549,NaN,NaN,NaN,NaN,1.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## Train test split

In [7]:
from sklearn.model_selection import train_test_split

In [8]:
train, test = train_test_split(ratings, random_state=99, test_size=.1)

In [9]:
print(train.shape)
print(test.shape)

(70145, 24)
(7794, 24)

## Item profile

In [10]:
genres

,(no genres listed),Action,Adventure,Animation,Children,Comedy,Crime,Documentary,Drama,Fantasy,Film-Noir,Horror,IMAX,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western
0,0,0,1,1,1,1,0,0,0,1,0,0,0,0,0,0,0,0,0,0
1,0,0,1,0,1,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,1,0,0,0,0
3,0,0,0,0,0,1,0,0,1,0,0,0,0,0,0,1,0,0,0,0
4,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9737,0,1,0,1,0,1,0,0,0,1,0,0,0,0,0,0,0,0,0,0
9738,0,0,0,1,0,1,0,0,0,1,0,0,0,0,0,0,0,0,0,0
9739,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0
9740,0,1,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
9741,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0

## User profile

In [11]:
genres_cols = genres.columns
genres_cols

Index(['(no genres listed)', 'Action', 'Adventure', 'Animation', 'Children',
       'Comedy', 'Crime', 'Documentary', 'Drama', 'Fantasy', 'Film-Noir',
       'Horror', 'IMAX', 'Musical', 'Mystery', 'Romance', 'Sci-Fi', 'Thriller',
       'War', 'Western'],
      dtype='object')

In [13]:
for cols in genres_cols:
    train[cols]=train[cols] * train['rating']

In [14]:
train.head()

,userId,movieId,rating,timestamp,(no genres listed),Action,Adventure,Animation,Children,Comedy,...,Film-Noir,Horror,IMAX,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western
36038,246,4011,4.5,1353869525,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
836,6,762,1.0,845555006,NaN,1.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN
28751,199,2300,5.0,1023654985,NaN,NaN,NaN,NaN,NaN,5.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
54645,360,1754,5.0,884997768,NaN,NaN,NaN,NaN,NaN,5.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
68952,448,2011,3.0,1019128039,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,3.0,NaN,NaN,NaN,NaN,NaN,NaN

In [17]:
#각 유저별로 Action 아이템에 준 평점의 평균
#train.groupby('userId')['Action'].mean()
user_profile = train.groupby('userId')[genres_cols].mean()
user_profile.sample()

,(no genres listed),Action,Adventure,Animation,Children,Comedy,Crime,Documentary,Drama,Fantasy,Film-Noir,Horror,IMAX,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western
userId,,,,,,,,,,,,,,,,,,,,
89,NaN,2.545455,2.5,3.5,2.785714,2.81,3.0,3.25,2.467949,2.6,2.5,2.676471,5.0,3.0,3.333333,2.548387,2.933333,2.833333,2.357143,2.375

### predict

In [33]:
test

,userId,movieId,rating,timestamp,(no genres listed),Action,Adventure,Animation,Children,Comedy,...,Film-Noir,Horror,IMAX,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western
30708,215,8784,4.5,1260909332,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,1.0,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN
73289,474,906,5.0,983032159,NaN,NaN,1.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN
98152,606,6415,4.0,1171361385,NaN,NaN,NaN,NaN,NaN,1.0,...,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN
58922,384,2369,3.0,996440881,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN
31081,217,1196,5.0,955935806,NaN,NaN,NaN,NaN,NaN,1.0,...,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16368,105,4011,5.0,1446573339,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1082,9,1198,5.0,1044656716,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
88470,571,1999,1.0,966900688,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,1.0,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN
20541,135,2804,5.0,1009693910,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
73614,474,1933,3.0,1100291823,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [41]:
sample = test.loc[73289]
sample_user = sample['userId']
sample_user
sample_user_profile = user_profile.loc[sample_user]
sample_user_profile

(no genres listed)    3.500000
Action                3.442373
Adventure             3.434146
Animation             3.369565
Children              3.457944
Comedy                3.356693
Crime                 3.370370
Documentary           3.118182
Drama                 3.344660
Fantasy               3.346715
Film-Noir             3.781250
Horror                3.350575
IMAX                  3.428571
Musical               3.365079
Mystery               3.372449
Romance               3.344262
Sci-Fi                3.540541
Thriller              3.367052
War                   3.340000
Western               3.367647
Name: 474, dtype: float64

In [45]:
movies[movies['movieId']==906]

     movieId            title          genres
688      906  Gaslight (1944)  Drama|Thriller

In [47]:
print(sample['movieId'])
sample_user_profile * sample[genres_cols].mean()

906.0

(no genres listed)    3.500000
Action                3.442373
Adventure             3.434146
Animation             3.369565
Children              3.457944
Comedy                3.356693
Crime                 3.370370
Documentary           3.118182
Drama                 3.344660
Fantasy               3.346715
Film-Noir             3.781250
Horror                3.350575
IMAX                  3.428571
Musical               3.365079
Mystery               3.372449
Romance               3.344262
Sci-Fi                3.540541
Thriller              3.367052
War                   3.340000
Western               3.367647
Name: 474, dtype: float64

In [48]:
(sample_user_profile * sample[genres_cols]).mean()

3.3729355118793904

### 전체 데이터로 확장

In [53]:
from tqdm import tqdm_notebook
predict=[]

In [54]:
for idx, row in tqdm_notebook(test.iterrows()):
    user = row['userId']
    #user profile * item prifile
    predict.append((user_profile.loc[user] * row[genres_cols]).mean())

HBox(children=(FloatProgress(value=1.0, bar_style='info', layout=Layout(width='20px'), max=1.0), HTML(value=''…

In [55]:
predict

[3.720833333333333,
 3.3729355118793904,
 3.702272727272727,
 3.0,
 2.760443355241172,
 4.423076923076923,
 3.8351648351648353,
 3.0,
 3.7295274306078405,
 4.099206349206349,
 3.2023906037922933,
 3.132590654880029,
 3.536290322580645,
 4.113973063973064,
 2.548936170212766,
 3.6781256394516064,
 3.5,
 3.3604725415070242,
 3.4444444444444446,
 3.8977824285906437,
 2.933333333333333,
 5.0,
 3.6382978723404253,
 2.6605839416058394,
 3.335220403951054,
 2.982142857142857,
 3.8997762148337594,
 3.493589743589743,
 3.3641686182669788,
 3.007936507936508,
 3.518143736181395,
 3.727272727272727,
 3.543046357615894,
 4.083333333333334,
 2.579113924050633,
 3.6,
 3.2151786618078755,
 4.5,
 3.350676553780292,
 3.789473684210526,
 3.3124000399840066,
 3.738634545861727,
 3.029454670511175,
 2.7766506556358372,
 3.7830242725765117,
 3.5821969696969695,
 3.5,
 3.527642276422764,
 3.505796217205613,
 3.691551921973609,
 3.7401129943502824,
 3.6382978723404253,
 3.392857142857143,
 3.154631950245985,
 3.1256964194134924,
 3.267857142857143,
 3.9,
 3.4298611111111112,
 3.3194444444444446,
 3.011904761904762,
 3.1948150934431423,
 4.355392156862745,
 3.3181818181818183,
 3.4239130434782608,
 2.716404940089151,
 3.3505747126436782,
 2.6110344827586207,
 3.039260385005066,
 3.273483279450394,
 4.18235294117647,
 3.982905982905983,
 3.676980198019802,
 3.5985023041474653,
 3.3124000399840066,
 2.5609768274796365,
 3.055959617889709,
 2.857142857142857,
 3.7313432835820897,
 3.984848484848485,
 3.329283953685868,
 3.762687969924812,
 4.1380952380952385,
 3.1724137931034484,
 3.3039849529378893,
 3.752036473307402,
 3.576923076923077,
 3.888888888888889,
 3.676980198019802,
 4.097964376590331,
 3.1082089552238807,
 3.4310344827586206,
 4.717391304347826,
 3.3029782359679265,
 4.102265043948615,
 3.314516129032258,
 4.127205882352941,
 4.049038461538462,
 3.130434782608696,
 3.869565217391304,
 3.238645920941968,
 3.697674418604651,
 2.5906734913793104,
 4.044309701492537,
 3.393939393939394,
 3.7199675324675328,
 4.0625,
 3.656498015873016,
 3.109090909090909,
 2.4635416666666665,
 3.575996677740864,
 3.215132827324478,
 3.3566929133858268,
 3.844844074844075,
 4.4375,
 3.352062588904694,
 3.9479166666666665,
 4.147727272727273,
 3.9814814814814814,
 4.177450980392157,
 3.25,
 3.228228039265039,
 3.580808080808081,
 2.9166666666666665,
 2.6415287866559054,
 3.2098634651600753,
 3.380082417582418,
 3.1082089552238807,
 3.6842105263157894,
 3.472636815920398,
 3.15490015522221,
 4.6875,
 3.3144048505674104,
 3.571759259259259,
 4.611721611721612,
 4.5,
 3.354257425742574,
 2.588607594936709,
 3.107167832167832,
 3.458712121212121,
 3.3367566643882434,
 2.6414468752129765,
 4.3,
 3.823529411764706,
 2.017857142857143,
 3.529040404040404,
 2.857291666666667,
 3.378205128205128,
 3.642857142857143,
 4.018219696969697,
 4.1415625,
 2.5711551531729895,
 3.1234626135569528,
 3.13880087870342,
 3.811034482758621,
 3.6472602739726026,
 3.8650306748466257,
 3.9356884057971016,
 4.100470430107527,
 3.3006964754533215,
 3.659090909090909,
 3.4791666666666665,
 3.0957001522070016,
 3.0663666416113147,
 3.124777183600713,
 3.6794871794871793,
 3.8345588235294117,
 3.469871794871795,
 3.5454545454545454,
 3.295929030985009,
 3.0,
 3.287537537537537,
 3.4533227006911216,
 3.9668612637362637,
 3.1082089552238807,
 3.734864940128098,
 3.1069047619047616,
 3.0,
 3.7555555555555555,
 3.374034070951879,
 3.856162695612237,
 3.640757808499744,
 3.393258426966292,
 3.7861111111111114,
 4.111111111111111,
 3.70547253241236,
 3.8422222222222224,
 4.007954545454545,
 3.5382716049382714,
 2.3333333333333335,
 3.352928913904524,
 4.055555555555555,
 2.989326936448338,
 3.328512396694215,
 3.814622807017544,
 3.1324675324675324,
 3.3190993788819876,
 3.3666666666666667,
 2.6910994764397906,
 3.388157894736842,
 3.7272157666894508,
 3.7136129577374977,
 3.250811688311688,
 3.5034423407917386,
 3.644047619047619,
 4.045454545454546,
 3.302564102564103,
 3.397835497835498,
 3.3689839572192515,
 2.6056764770481005,
 4.424568965517242,
 nan,
 3.6040821594782506,
 3.554001554001554,
 3.4043756177355378,
 3.5476190476190474,
 3.9717391304347824,
 3.6,
 3.740740740740741,
 2.6910994764397906,
 3.4776262111167773,
 3.5407642842083074,
 3.7818181818181817,
 3.955195219850392,
 3.5414634146341464,
 3.2781460945033754,
 3.744186046511628,
 3.5766129032258065,
 2.6266170408647898,
 3.1082089552238807,
 4.240421455938698,
 3.9272809394760615,
 4.111111111111111,
 3.0,
 3.4310344827586206,
 3.9650793650793648,
 4.34,
 3.7056451612903225,
 3.3226007478188615,
 nan,
 3.6433140420347243,
 4.575,
 3.4602272727272725,
 3.6530612244897958,
 3.685185185185185,
 2.646347205352556,
 4.216666666666667,
 4.358156028368795,
 3.073170731707317,
 3.1145833333333335,
 2.639024365147961,
 4.104166666666667,
 3.707090459726294,
 3.2093023255813953,
 3.2415233415233415,
 2.6043478260869564,
 3.7222222222222223,
 3.692514474772539,
 3.5989010989010985,
 4.2,
 3.713334513552854,
 3.4681147312726264,
 4.0,
 3.0841338259441713,
 3.875,
 3.9539473684210527,
 3.2466666666666666,
 3.5019230769230774,
 3.352062588904694,
 3.8520408163265305,
 3.7435483870967743,
 3.854166666666667,
 3.6538697788697787,
 4.203125,
 3.3346289478583664,
 2.5833333333333335,
 3.447246301708447,
 3.3780487804878048,
 3.6651179364883575,
 2.875,
 3.0,
 3.4629329004329,
 3.0833333333333335,
 3.527555521362261,
 2.6009471014793277,
 3.8666666666666667,
 3.300148481655331,
 3.4033273381294964,
 3.7584967320261438,
 3.2961045025993476,
 3.6142857142857143,
 3.9993567753001718,
 3.4833333333333334,
 3.703125,
 3.4709702062643237,
 3.118181818181818,
 3.3949175824175826,
 2.625,
 3.5,
 3.357487922705314,
 4.0438709677419356,
 3.153518948182521,
 3.2972972972972974,
 3.4492613310384392,
 3.865494987468672,
 4.204153726708075,
 3.6664940544687386,
 3.5625,
 4.461538461538462,
 3.75,
 3.25,
 4.128968253968254,
 3.0148148148148146,
 3.3444612446283624,
 3.9598765432098766,
 4.141176470588236,
 3.3125,
 3.5,
 2.6087548638132296,
 3.4671302042460317,
 4.4750000000000005,
 3.316116011938194,
 3.3415176812306,
 3.4845894845894847,
 3.347844238241668,
 3.4375,
 3.114045086119554,
 3.758754012255617,
 2.7207511075312123,
 2.561797752808989,
 3.5317062782179063,
 3.517284342152954,
 3.3886431065952864,
 3.5555555555555554,
 3.598080808080808,
 3.770071433756501,
 4.129166666666666,
 4.270428323059902,
 nan,
 3.350676553780292,
 3.5714285714285716,
 4.0544174757281555,
 4.155555555555556,
 3.167812222354829,
 3.583798882681564,
 3.6264111705288173,
 3.6929112554112553,
 4.4743589743589745,
 2.876777251184834,
 3.811502185415229,
 3.320646679067732,
 3.618831360634639,
 3.2093023255813953,
 3.229259259259259,
 4.277777777777778,
 3.705671641791045,
 3.6875,
 4.219298245614035,
 3.776644736842105,
 3.0103800140745953,
 3.589041095890411,
 3.780681977796681,
 3.719098006291857,
 2.962937062937063,
 nan,
 3.3540956433132743,
 3.3485384675475167,
 2.875,
 3.681819486296456,
 3.330827067669173,
 3.380952380952381,
 1.9166666666666665,
 3.781981981981982,
 3.7196342305037953,
 3.9096494480546937,
 3.462397853521184,
 4.097936320754718,
 3.8057461406518014,
 3.3319408431767985,
 4.0693569094304385,
 3.6896929824561404,
 3.8665217391304343,
 3.6746031746031744,
 2.4992963177173704,
 4.142857142857143,
 3.3504098360655736,
 3.1722161896074943,
 3.9086904761904764,
 3.0023321921361137,
 3.984848484848485,
 4.010110736639383,
 3.0,
 3.625,
 3.0,
 3.655964130540402,
 3.4203296703296706,
 3.61529933481153,
 3.0757144601856377,
 3.4056603773584904,
 2.6110344827586207,
 3.7973861283643893,
 3.7353896103896105,
 3.847222222222222,
 2.5681864649355957,
 4.2625,
 3.0,
 3.7098036991728103,
 3.8996286588029707,
 3.0166112956810633,
 3.165861513687601,
 3.8954545454545455,
 3.5711805555555554,
 3.642857142857143,
 3.357515282272564,
 3.2772567660157588,
 4.212575757575757,
 3.4285714285714284,
 3.583798882681564,
 3.4074074074074074,
 3.342592592592593,
 3.2657605466428996,
 2.6605839416058394,
 3.3029782359679265,
 3.306698424526293,
 nan,
 3.2205882352941178,
 3.7958079783637597,
 4.141176470588236,
 3.2362637362637363,
 3.172404159532306,
 3.1478544776119404,
 3.357142857142857,
 2.6509462759462754,
 3.2671807359307357,
 2.828125,
 3.1082089552238807,
 3.540625,
 4.339657282741738,
 4.653812974465148,
 4.9375,
 3.971990740740741,
 4.317610062893081,
 4.307407407407407,
 3.779123796880186,
 3.7830453859865627,
 3.4318181818181817,
 3.0043103448275863,
 4.026595744680851,
 3.5,
 3.1803273548225257,
 3.311111111111111,
 3.6299019607843137,
 3.418518518518518,
 3.0663666416113147,
 2.7389345331246737,
 4.079861111111111,
 3.3618550512668164,
 3.6608695652173915,
 3.6530612244897958,
 2.6159254807692305,
 3.467765939455437,
 3.571759259259259,
 4.083333333333334,
 4.165384615384616,
 3.6299019607843137,
 4.3875,
 2.6355941660153928,
 3.3785002284655326,
 3.3625730994152048,
 3.2961045025993476,
 3.3095238095238093,
 3.1184210526315788,
 3.3504098360655736,
 3.706245710363761,
 3.6923076923076925,
 4.107692307692307,
 3.3309386973180075,
 4.042846462947388,
 4.0423728813559325,
 3.653225806451613,
 3.59495145631068,
 3.118755103032367,
 4.373809523809523,
 4.260510935143288,
 3.8659523809523813,
 3.4333333333333336,
 3.75,
 3.4772727272727275,
 3.802803261977574,
 nan,
 3.402996508111782,
 3.5276422764227644,
 3.25,
 2.547772204853692,
 4.015384615384615,
 3.3233618233618234,
 3.3095238095238093,
 2.9237288135593222,
 3.6293032417621287,
 3.509386446886447,
 2.467948717948718,
 3.3986486486486487,
 3.6382978723404253,
 3.7142857142857144,
 3.0406445406445406,
 4.375,
 2.933333333333333,
 3.589041095890411,
 3.5795940681802243,
 3.542787524366472,
 3.4727564102564097,
 3.3495850134606115,
 3.5382716049382714,
 3.6209207459207455,
 3.874782608695652,
 2.486764705882353,
 3.3583333333333334,
 3.5257936507936507,
 4.382352941176471,
 3.807017543859649,
 3.368246336996337,
 3.29,
 3.269333333333333,
 3.554562721229388,
 3.5760152911109677,
 2.5734371572713313,
 3.722702278083268,
 4.260869565217392,
 3.4210526315789473,
 2.547772204853692,
 3.354761904761905,
 2.6159254807692305,
 4.0,
 4.024,
 3.335981096593589,
 3.6496070146744812,
 3.3780487804878048,
 3.0,
 3.361904017391822,
 4.072164948453608,
 3.7353896103896105,
 3.6791666666666663,
 1.0,
 3.2350729765590445,
 3.392857142857143,
 3.671875,
 3.3530257230915126,
 3.2301003734827267,
 3.425757575757576,
 3.4864864864864864,
 2.6043478260869564,
 2.6275905327538185,
 4.402777777777778,
 3.4375,
 2.761904761904762,
 3.720779220779221,
 2.8,
 3.189284638274729,
 3.664203709155137,
 3.816022544283414,
 2.633171603677222,
 4.160714285714286,
 3.408703969392635,
 3.9369953622216634,
 3.1141345073061073,
 4.286526366715045,
 4.057471264367816,
 3.8950153374233127,
 3.0,
 3.0056963179001093,
 3.3449074074074074,
 3.238645920941968,
 3.6524509803921568,
 4.131395086770341,
 3.3635316418780983,
 3.536290322580645,
 3.3952967171717168,
 4.033333333333333,
 3.70063025210084,
 4.047169811320755,
 3.3531037414965983,
 3.0416666666666665,
 4.38538961038961,
 4.469926470588235,
 3.4285714285714284,
 3.6463414634146343,
 4.095074059400435,
 3.6736111111111107,
 3.2857142857142856,
 3.4189979453137345,
 3.527555521362261,
 3.8809523809523814,
 3.5,
 3.5714285714285716,
 3.410638687727484,
 3.215555555555555,
 4.10326180109199,
 3.1082089552238807,
 3.694444444444444,
 3.8949720172935773,
 2.7595419847328246,
 3.556603773584906,
 3.872516025641026,
 3.6826923076923075,
 3.375,
 3.349878934624697,
 3.128567520453996,
 3.5108558278442903,
 3.427339761769711,
 2.880952380952381,
 3.4165057915057915,
 3.3993771601427105,
 4.297872340425532,
 3.7194970598651054,
 2.982421875,
 3.6607142857142856,
 3.262987012987013,
 4.350649350649351,
 3.983018867924528,
 2.643181940060343,
 3.64,
 3.602244268926989,
 3.8026315789473686,
 2.6375,
 3.8846153846153846,
 3.721311475409836,
 3.571759259259259,
 2.6291071142966693,
 2.581074617346939,
 4.0,
 3.2299954964865853,
 3.655151515151515,
 3.6593243243243245,
 3.311740890688259,
 3.1601781119054335,
 2.875,
 3.93921568627451,
 3.2222222222222223,
 3.6031746031746033,
 4.208333333333334,
 3.4446227929373996,
 3.537252458108295,
 3.556603773584906,
 3.5533413606261286,
 4.0350241545893715,
 3.5382716049382714,
 3.4444444444444446,
 3.5832634714213665,
 3.083333333333333,
 3.551815416825924,
 3.3029782359679265,
 3.5117660764212486,
 3.8090854784403168,
 3.5809523809523807,
 4.095430107526882,
 3.3095238095238093,
 3.6608695652173915,
 3.5704966918274157,
 3.25,
 3.4677083333333334,
 3.2076158409491744,
 3.7325533661740558,
 3.6481164383561646,
 3.374034070951879,
 3.6,
 3.6213523965779912,
 3.86457205988456,
 nan,
 4.030228758169935,
 3.6887175598247395,
 3.3446601941747574,
 3.5194525986570917,
 2.786184210526316,
 4.1025,
 3.8684210526315788,
 3.5353324185781596,
 3.6781256394516064,
 3.355856108648072,
 3.4347826086956523,
 4.0224801061007955,
 3.4455576265921093,
 3.759295125744637,
 4.349706744868035,
 2.517509727626459,
 3.730952380952381,
 3.0913793025896172,
 3.607236312399356,
 3.5547685834502105,
 3.700480769230769,
 3.8285714285714283,
 3.0102587728405314,
 3.3029782359679265,
 nan,
 4.089285714285714,
 4.146963175514108,
 3.7401129943502824,
 3.4545454545454546,
 3.1739130434782608,
 3.4263846181350117,
 3.2318245533552514,
 3.775297619047619,
 3.9388888888888896,
 4.5,
 3.3444612446283624,
 3.6153846153846154,
 3.3221153846153846,
 3.589041095890411,
 3.538819854708409,
 3.587737843551797,
 3.5903614457831328,
 3.44375,
 2.5005698005698007,
 3.353653415453527,
 4.459770114942529,
 2.660559258186033,
 2.7595419847328246,
 2.8666666666666667,
 1.9916666666666667,
 3.7774146695715323,
 2.609618853767561,
 3.4,
 3.360694195888838,
 2.578034682080925,
 3.1118032786885244,
 3.727777777777778,
 3.6333333333333333,
 3.746376811594203,
 3.0,
 2.7475862068965515,
 4.2972582972582964,
 3.505796217205613,
 4.333333333333333,
 3.4285714285714284,
 3.374447391688771,
 4.006949002612963,
 3.494254298941799,
 3.0,
 3.3444612446283624,
 3.5238095238095237,
 3.8241740890688263,
 3.2765712437968535,
 4.029377880184332,
 3.107142857142857,
 3.6525,
 3.317647058823529,
 4.416666666666667,
 3.2746669267320083,
 3.4960317460317456,
 4.214285714285714,
 3.65,
 4.338443396226415,
 2.578034682080925,
 4.207452574525745,
 3.1255151101443883,
 3.649879722948032,
 3.0839488636363637,
 3.670634920634921,
 3.150943396226415,
 3.739626337135217,
 4.017857142857143,
 2.7595419847328246,
 3.3017062005826054,
 3.4930555555555554,
 5.0,
 3.1353618610200678,
 4.520833333333334,
 3.7484635645302897,
 3.5877616747181964,
 4.541005291005291,
 4.416666666666667,
 2.6292720306513413,
 3.7051282051282053,
 4.343506493506494,
 3.0947095731533416,
 3.236516907032071,
 4.056361988790165,
 3.8823529411764706,
 3.393012745188268,
 4.533564814814815,
 4.046835839598997,
 3.7818181818181817,
 4.753947368421052,
 4.71875,
 4.321428571428571,
 3.460980570122361,
 3.517857142857143,
 3.375,
 3.03607422785206,
 3.6203703703703702,
 3.712100063642675,
 2.9587542087542085,
 3.4526618269812466,
 3.8998807795977606,
 3.4767827529021558,
 2.9913793103448274,
 3.8536576643235905,
 3.5603030303030305,
 3.702272727272727,
 3.1794871794871793,
 4.147058823529412,
 3.358695652173913,
 3.460980570122361,
 4.333333333333333,
 3.561274509803922,
 2.9611111111111112,
 3.587145969498911,
 3.9002377266696153,
 3.886904761904762,
 3.0868055555555554,
 3.140371229698376,
 4.214285714285714,
 3.603962451059012,
 4.87,
 3.1059907834101383,
 2.560993669783379,
 2.506493506493506,
 2.1481481481481484,
 3.383751838410003,
 3.537244333886125,
 4.146963175514108,
 4.1345443417054675,
 3.7874632527264107,
 3.6786225972272484,
 3.1875,
 3.271053916095899,
 3.721441254809115,
 3.328389702779285,
 3.2466666666666666,
 3.7964285714285717,
 3.581818181818182,
 3.335766423357664,
 2.5869565217391304,
 3.3492235123116494,
 3.305470479895702,
 3.6888888888888887,
 3.384697392160079,
 3.4642549526270456,
 3.4930555555555554,
 3.688490099009901,
 3.017471004316846,
 3.6579227053140095,
 3.2961045025993476,
 3.196629213483146,
 2.8568033273915625,
 3.571759259259259,
 3.734972910185766,
 3.3705882352941177,
 2.391150516150516,
 3.9333333333333336,
 3.8333333333333335,
 3.6662324184334456,
 3.7266666666666666,
 3.0942692672891283,
 3.641637630662021,
 3.932515337423313,
 3.4987804878048783,
 2.875,
 3.1386806596701646,
 3.2857142857142856,
 3.122270485635196,
 3.283405172413793,
 3.326970913884543,
 nan,
 3.029761904761905,
 3.0812101910828025,
 3.472895622895623,
 3.4864864864864864,
 3.3620030156083285,
 3.349878934624697,
 4.033333333333333,
 3.127333460396407,
 3.03310502283105,
 4.072164948453608,
 3.1739136195018545,
 3.3433497655985693,
 3.7681451612903225,
 5.0,
 3.1984434333611187,
 3.462130705551758,
 3.0659340659340657,
 3.406093261687443,
 3.3935165377653447,
 2.692826321467098,
 3.3446601941747574,
 2.555702538060458,
 3.2544188224871786,
 4.239260572047457,
 2.522486173956762,
 3.9166666666666665,
 3.577258064516129,
 3.9749999999999996,
 3.662318238471126,
 3.7909959758551306,
 2.594462855564761,
 2.6329022708048666,
 3.069261695906433,
 4.0,
 2.733251633986928,
 3.902777777777778,
 3.4591836734693877,
 3.6418480080348177,
 3.1082089552238807,
 4.1207671561282595,
 3.660018993352327,
 3.355856108648072,
 3.491973776367831,
 3.72639472455649,
 3.353801169590643,
 3.787037037037037,
 3.607591442374051,
 3.75,
 3.0083056478405314,
 3.385565476190476,
 3.3095238095238093,
 3.6732553735441718,
 3.0,
 3.5541062801932366,
 3.092636806898775,
 2.814354099244876,
 3.9185888914952955,
 3.285892634207241,
 4.105263157894737,
 3.2721112321333026,
 2.972972972972973,
 3.5148809523809526,
 3.6015873015873017,
 3.7364146060954573,
 3.153518948182521,
 3.6978754940711465,
 4.490723936277475,
 2.670577581185379,
 4.195238095238095,
 3.5781539888682747,
 3.3846950328840255,
 3.775,
 3.4845956354300385,
 3.255952380952381,
 3.8333333333333335,
 3.204248366013072,
 3.5093150684931507,
 2.75,
 3.32449494949495,
 3.348346456692913,
 3.729020979020979,
 3.068350168350168,
 2.9615554378531073,
 2.3873626373626373,
 3.579261609304739,
 4.093023255813954,
 3.962340799297321,
 3.045917858270882,
 3.1734415692171187,
 3.4285714285714284,
 2.575,
 3.4838709677419355,
 3.068820224719101,
 3.823529411764706,
 3.390909090909091,
 3.7488321954725117,
 2.5794811481372,
 3.666666666666667,
 3.5866666666666664,
 3.688490099009901,
 3.833390844260409,
 3.353653415453527,
 3.3147571980344632,
 3.7362573099415206,
 3.2589565958210027,
 3.375,
 3.5591615956727516,
 3.9819796323894687,
 4.136574074074074,
 4.333333333333333,
 3.25,
 3.651689708141321,
 3.037230769230769,
 4.113095238095238,
 3.595537757437071,
 3.8555555555555556,
 3.1256964194134924,
 3.6375,
 3.93819343107961,
 3.355614973262032,
 3.833968253968254,
 4.273946886446886,
 3.546937003968254,
 3.3029782359679265,
 3.954968944099379,
 2.65,
 3.4631171630094046,
 2.4265180904549575,
 3.305871212121212,
 3.1484818946029627,
 4.186858974358975,
 3.706614170225747,
 3.5364963503649633,
 3.893939393939394,
 3.4617303061575506,
 2.9888282899366643,
 2.4635416666666665,
 2.608911039272031,
 ...]